<div class="form__container">
  <h1>Contactanos</h1>
  <p>Valido: {{ formData.valid ? "Si" : "No" }}</p>

  <form [formGroup]="formData" (ngSubmit)="submitForm()" class="form">
    <label for="name">Nombre</label>
    <input
      formControlName="name"
      name="name"
      placeholder="Nombre"
      id="name"
      type="text"
    />

    <br />

    <div class="error" *ngIf="userEmail()?.invalid && userEmail()?.touched">
      <small *ngIf="userEmail()?.getError('required')" class="redText"
        >El Email es obligatorio
        <br />
      </small>
      <small *ngIf="userEmail()?.getError('minlength')" class="redText"
        >El minimo de caracteres es 10
        <br />
      </small>
      <small *ngIf="userEmail()?.getError('email')" class="redText"
        >El formato es incorrecto
        <br />
      </small>
    </div>
    <label for="email">Email</label>
    <input
      formControlName="email"
      name="email"
      id="email"
      placeholder="Email"
      type="email"
    />

    <br />
    <label for="age">Edad</label>
    <input
      formControlName="age"
      name="age"
      id="age"
      min="0"
      max="150"
      type="number"
    />

    <br />
    <label for="mailingList">Suscribirse al mailing list</label>
    <input
      formControlName="mailingList"
      type="checkbox"
      name="mailingList"
      id="mailingList"
    />

    <br />
    <br />
    <div formGroupName="address">
      <label for="street">Calle</label>
      <input
        formControlName="street"
        name="street"
        placeholder="Calle"
        id="street"
        type="text"
      />

      <br />
      <label for="number">Numeracion</label>
      <input
        formControlName="number"
        name="number"
        placeholder="Numeracion"
        id="number"
        type="text"
      />

      <br />
      <label for="zipCode">Codigo Postal</label>
      <input
        formControlName="zipCode"
        name="zipCode"
        placeholder="Codigo Postal"
        id="zipCode"
        type="text"
      />
    </div>

    <button type="submit">Enviar</button>
    <button (click)="resetAddress()">Resetear Direccion</button>

    <!-- <label for="name">Nombre</label>
    <input
      [(ngModel)]="formData.name"
      type="text"
      name="name"
      id="name"
      placeholder="Nombre"
    />

    <br />
    <label for="email">Email</label>
    <input
      [(ngModel)]="formData.email"
      type="email"
      name="email"
      id="email"
      placeholder="Email"
    />

    <br />
    <label for="age">Edad</label>
    <input
      min="0"
      max="99"
      [(ngModel)]="formData.age"
      type="number"
      name="age"
      id="age"
    />

    <br />
    <label for="mailingList">Suscribirse al mailing list</label>
    <input
      [(ngModel)]="formData.mailingList"
      type="checkbox"
      name="mailingList"
      id="mailingList"
    />
    <button
      [disabled]="!formData.name || !formData.email || formData.age <= 0"
      (click)="sendFormData()"
    >
      Enviar
    </button>-->
  </form>
  <br />
  <br />
  <!-- <div>
    <span *ngIf="formData.name">
      {{ formData.name }}, muchas gracias por escribirnos! En breve estaremos
      contactandonos con vos!
    </span>
    <button *ngIf="formData.name" (click)="resetName()" type="button">
      Reset Nombre
    </button>
  </div>  -->
</div>
